<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CuahangConnection" 
             connectionString="Server=.;Initial Catalog=QLCHNongDuoc;Integrated Security=SSPI;TrustServerCertificate=True;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>